@charset "UTF-8";

@font-face {
    font-family: nucklebold;
    src: url(../fontes/NuckleTrialBold.otf);
}
@font-face {
    font-family: nuckle;
    src: url(../fontes/NuckleTrialRegular.otf);
}

@font-face {
    font-family: nucklelight;
    src: url(../fontes/NuckleTrialLight.otf);
}

@font-face {
    font-family: nucklesemibold;
    src: url(../fontes/NuckleTrialSemiBold.otf);
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    font-family: 'nucklebold', sans-serif;
}

nav{
    display: block;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(70, 68, 68);
    border-top: 2px solid rgb(186, 184, 184);
}

nav > ul > li > a:hover{
    background-color: gray;
}

main{
    width: 85vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
    font-family: 'nuckle', Arial, Helvetica, sans-serif;;
}

h2#titulo2{
    padding-top: 25px;
}

article > p{
    text-align: left;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 25px;
    font-family: 'nuckle', 'Times New Roman', Times, serif
}

article{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;

}

article img{
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}

blockquote#citacao{
    font-size: 0.9em;
    border-left: 1px solid black;
    padding-left: 18px;
    line-height: 24px;
    font-family: nucklelight;
}

blockquote#citacao2{
    font-size: 0.9em;
    border-left: 1px solid black;
    padding: 15px 0px 0px 18px ;
    font-family: nucklelight;
}