@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kalnia+Glaze:wght@100..700&display=swap');

body{
    font-family: 'Kalnia Glaze', Arial, Verdana, sans-serif;
    font-size: 16px;
    color: black;
}

h1{
    font-family: 'Kalnia Glaze', Arial, Verdana, sans-serif;
}